<!DOCTYPE html>
<html>
<head lang="en">
    <title>张瑞丽作业</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<ion-view view-title="活动详情" class="align-title-center index">
        <div class="tit">
            <p>Start the Journey</p>
            <p>by AVITAL</p>
        </div>
        <!-- start 轮播图-->
        <ion-slide-box auto-play="true" does-continue="true" slide-interval=2000 >
            <ion-slide>
                <div class="box banner imgs"><img src="./img/1/silder_03.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box banner imgs"><img src="./img/1/silder_03.jpg"/></div>
            </ion-slide>
            <ion-slide>
                <div class="box banner imgs"><img src="./img/1/silder_03.jpg"/></div>
            </ion-slide>
        </ion-slide-box>
        <!-- end 轮播图-->
        <!--//按钮进入注册页-->
        <div ui-sref='login'>
            <button class="button button-positive">LOGIN NOW</button>
        </div>
    </ion-content>
</ion-view>
</body>
</html>