<!DOCTYPE html>
<html>
<head lang="en">
    <title>张瑞丽作业</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div class="">
    <ion-view class="login">
        <div class="msg">
            <p>
                <strong>
                    ACTIVAL
                </strong>
            </p>

            <p class="small">
                Mobel UI Kite
            </p>
            <ul>
                <li>
                    <input type="text" placeholder="E-Mail"/>
                </li>
                <li>
                    <input type="text" placeholder="Password"/>
                </li>
            </ul>
        </div>
        <div class="btn">
            <p>
                <!-- 点击按钮进入profile页面 在profile页面里分为四个页面点击脚部的三个li分别为三个页面  点击右上角的icon心形进入scail页面-->
                <button class="button" ui-sref='register'>
                    LOGIN NOW
                </button>
            </p>
            <p>
                <span class="click left">
                   <strong>f</strong>
                    Facebook
                </span><span class="right">
                    <strong>G</strong>
                    Google
                </span>
            </p>
            <p>DO not have an account?</p>
        </div>
    </ion-view>
</div>
</body>
</html>