<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<!--
1 在profile页面里分为四个页面点击脚部的三个li分别为三个页面  点击右上角的icon心形进入scail页面
2 scail页面中有三个部分 点击任意图片出现遮罩层  点击绿色按钮遮罩层消失   点击右上角的icon时进入分类页面
    在内容介绍时的图片点击会进入信息页面News页面
3 点击follow按钮时进入购物页面，在购物页面分别有三部分
-->
<div>
    <ion-view class="mssage">
        <div class="header">
            <ul>
                <li ui-sref="register">
                    <i class="icon">
                        &#xe697;
                    </i>
                </li>
                <li>
                    <strong>
                        Profile
                    </strong>
                </li>
                <li>
                    <i class="icon" ui-sref="scal">
                        &#xe8e4;
                    </i>
                </li>
            </ul>
        </div>
        <div class="cont">
            <p>
                <strong>
                    Edvard  Korus
                </strong>
            </p>

            <p class="small">
              Artist, Web Designer, Paris
            </p>
            <ul>
                <li>
                   <strong>
                       2560
                   </strong>
                    <br/>
                    <small>
                        LIKES
                    </small>
                </li>
                <li>
                    <strong>
                        4025
                    </strong>
                    <br/>
                    <small>
                        FOLLOWERS
                    </small>
                </li>
                <li>
                    <strong>
                        1278
                    </strong>
                    <br/>
                    <small>
                        FOLLOWING
                    </small>
                </li>
            </ul>
            <p>
                <button class="button" ui-sref="shop">
                   FOLLOW   +
                </button>
            </p>
        </div>
        <div class="footer">
            <ul>
                <li ui-sref='msg'>
                    Posts
                </li>
                <li ui-sref='photo'>
                    Photos
                </li>
                <li ui-sref='info'>
                    Message
                </li>
            </ul>
        </div>
    </ion-view>
</div>
</body>
</html>