<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div class="news">
    <div class="header">
        <ul>
            <li ui-sref="scal">
                <i class="icon">
                    &#xe699;
                </i>
            </li>
            <li>
                <strong>
                    News
                </strong>
            </li>
            <li>
                <i class="icon" ui-sref="scal_all">
                    ...
                </i>
            </li>
        </ul>
    </div>
    <div class="news-div">
        <h3>START YOUR JOURNEY</h3>
        <ul>
            <li>Congrats, matey! You’re good to go</li>
            <li>Just one last bit o’advice. If</li>
            <li>Watch out for the Ghost Shop!</li>
        </ul>
        <button ui-sref="detail">
            GET STARTED
        </button>
    </div>
    <ion-slide-box auto-play="true" does-continue="true" slide-interval=2000>
        <ion-slide>
            <div class="slide-o">
                <dl class="home-dl">
                    <dt><img src="./img/5/news1_3.png" alt=""/></dt>
                    <dd>
                        <h3>An Incredible
                            <p>Journey in Paris</p>
                        </h3>
                        <ul>
                            <li>You will walk through all</li>
                            <li>the famous places...</li>
                        </ul>
                    </dd>
                </dl>
                <dl class="home-dl">
                    <dt><img src="./img/5/news1_4.png" alt=""/></dt>
                    <dd>
                        <h3>Top Attractions
                            <p>the Great London</p>
                        </h3>
                        <ul>
                            <li>Know all the beauty</li>
                            <li>and splendor of this city...</li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="slide-o">
                <dl class="home-dl">
                    <dt><img src="./img/5/news1_1.png" alt=""/></dt>
                    <dd>
                        <h3>An Incredible
                            <p>Jey in Paris</p>
                        </h3>
                        <ul>img/5fg
                            <li>You will walk through all</li>
                            <li>the famous places...</li>
                        </ul>
                    </dd>
                </dl>
                <dl class="home-dl">
                    <dt><img src="./img/5/news1_2.png" alt=""/></dt>
                    <dd>
                        <h3>Top Attractions
                            <p>the Great London</p>
                        </h3>
                        <ul>
                            <li>Know all the beauty</li>
                            <li>and splendor of this city...</li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </ion-slide>
    </ion-slide-box>
</div>
</body>
</html>