<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div>
    <ion-view class="register">
        <i class="icon delet" ui-sref="login">
            &#xe69a;
        </i>
        <div class="msg">
            <p>
                <strong>
                   Register
                </strong>
            </p>
            <ul>
                <li>
                    <input type="text" placeholder="E-Mail"/>
                </li>
                <li>
                    <input type="text" placeholder="Username"/>
                </li>
                <li>
                    <input type="text" placeholder="Password"/>
                </li>
                <li>
                    <input type="text" placeholder=" Confirm  Password"/>
                </li>
            </ul>
        </div>
        <div class="btn">
            <p>
                <button class="button" ui-sref='msg'>
                    LOGIN NOW
                </button>
            </p>
            <p>By clicking register. I agree to you Terms</p>
        </div>
    </ion-view>
</div>
</body>
</html>