<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div class="scal_all">
    <div class="header">
        <ul>
            <li ui-sref="scal">
                <i class="icon">
                    &#xe697;
                </i>
            </li>
            <li>
                <strong>
                    Social
                </strong>
            </li>
            <li>
                <i class="icon" ui-sref="scal_all">
                    ...
                </i>
            </li>
        </ul>
    </div>
    <div class="social3-nav">
        <span>ALL</span>
        <span>PEOPLE</span>
        <span>PHOTOS</span>
        <span>VIDEOS</span>
    </div>
    <div class="social3-div">
        <dl>
            <dt><img src="./img/3/social3_1.png" alt=""/></dt>
            <dd>
                YAROSLAV ZAITSEV
                <p>5875 images, 1420 videos</p>
            </dd>
        </dl>
        <ul ui-sref="news">
            <li><img src="./img/3/social3_4.png" alt=""/></li>
            <li><img src="./img/3/social3_5.png" alt=""/></li>
            <li><img src="./img/3/social3_6.png" alt=""/></li>
        </ul>
    </div>
    <div class="social3-div">
        <dl>
            <dt><img src="./img/3/social3_2.png" alt=""/></dt>
            <dd>
                NIGKY BUDDHA
                <p>1468 images, 9825 videos</p>
            </dd>
        </dl>
        <ul ui-sref="news">
            <li><img src="./img/3/social3_7.png" alt=""/></li>
            <li><img src="./img/3/social3_8.png" alt=""/></li>
            <li><img src="./img/3/social3_9.png" alt=""/></li>
        </ul>
    </div>
    <div class="social3-div">
        <dl>
            <dt><img src="./img/3/social3_3.png" alt=""/></dt>
            <dd>
                CREG LARIN
                <p>2018 images, 8125 videos</p>
            </dd>
        </dl>
        <ul ui-sref="news">
            <li><img src="./img/3/social3_10.png" alt=""/></li>
            <li><img src="./img/3/social3_11.png" alt=""/></li>
            <li><img src="./img/3/social3_12.png" alt=""/></li>
        </ul>
    </div>
</div>
</body>
</html>