<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div class="shop_add">
    <div class="header">
        <ul>
            <li ui-sref="shop">
                <i class="icon">
                    &#xe697;
                </i>
            </li>
            <li>
                <strong>
                    shop
                </strong>
            </li>
            <li>
                <i class="icon" ui-sref="shop_list">
                    &#xe698;
                </i>
            </li>
        </ul>
    </div>
    <div class="shop2-top">
        <h4>
            Magic & Vintage
            <p>New Collection of Clothes</p>
        </h4>
        <p class="shop2-p">Black | SMLXL2X | $48</p>
    </div>
    <ion-slide-box auto-play="true" does-continue="true" slide-interval=2000 >
        <ion-slide>
            <div class="shop2-div" ui-sref="shop_list">
                <dl>
                    <dt><img src="./img/6/ecommerce1_1.png" alt=""/></dt>
                    <dd>
                        coco CHANEL
                        <h3>ElegantApron</h3>
                        <p>Black-$95</p>
                    </dd>
                </dl>
                <dl>
                    <dt><img src="./img/6/ecommerce2_3.png" alt=""/></dt>
                    <dd>
                        coco CHANEL
                        <h3>Cashmere Coat</h3>
                        <p>White-$30</p>
                    </dd>
                </dl>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="shop2-div" ui-sref="shop_list">
                <dl>
                    <dt><img src="./img/6/ecommerce2_4.png" alt=""/></dt>
                    <dd>
                        coco CHANEL
                        <h3>ElegantApron</h3>
                        <p>Black-$95</p>
                    </dd>
                </dl>
                <dl>
                    <dt><img src="./img/6/ecommerce2_1.png" alt=""/></dt>
                    <dd>
                        coco CHANEL
                        <h3>Cashmere Coat</h3>
                        <p>White-$30</p>
                    </dd>
                </dl>
            </div>
        </ion-slide>
    </ion-slide-box>
</div>
</body>
</html>