<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div class="shop">
    <div class="header">
        <ul>
            <li ui-sref="msg">
                <i class="icon">
                    &#xe697;
                </i>
            </li>
            <li>
                <strong>
                    shop
                </strong>
            </li>
            <li>
                <i class="icon" ui-sref="shop_list">
                    &#xe698;
                </i>
            </li>
        </ul>
    </div>
    <ion-slide-box auto-play="true" does-continue="true" slide-interval=2000 >
        <ion-slide>
            <div class="shop-div" ui-sref="shop_add">
                <dl>
                    <dt><img src="./img/6/ecommerce1_1.png" alt=""/></dt>
                    <dd>
                        <div>
                            <img src="./img/6/ecommerce1_1.png" alt=""/>
                            <img src="./img/6/ecommerce1_2.png" alt=""/>
                            <img src="./img/6/ecommerce1_3.png" alt=""/>
                            <img src="./img/6/ecommerce1_4.png" alt=""/>
                        </div>
                        coco CHANEL
                        <h3>ElegantApron-Dress</h3>
                        <p>Black-$95</p>
                    </dd>
                </dl>
                <button class="shop-but" ui-sref="shop_add">More Info</button>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="shop-div" ui-sref="shop_add">
                <dl>
                    <dt><img src="./img/6/ecommerce1_2.png" alt=""/></dt>
                    <dd>
                        <div>
                            <img src="./img/6/ecommerce1_1.png" alt=""/>
                            <img src="./img/6/ecommerce1_2.png" alt=""/>
                            <img src="./img/6/ecommerce1_3.png" alt=""/>
                            <img src="./img/6/ecommerce1_4.png" alt=""/>
                        </div>
                        coco CHANEL
                        <h3>ElegantApron-Dress</h3>
                        <p>Black-$95</p>
                    </dd>
                </dl>
                <button class="shop-but"ui-sref="shop_add">More Info</button>
            </div>
        </ion-slide>
    </ion-slide-box>
</div>

</body>
</html>